# Configuraciones de PostgreSQL (Docker)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_DB=scilipdb

# Base de datos (Prisma)
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"

# Entorno general
NODE_ENV=development

# API Nest (apps/api)
PORT=4000
JWT_SECRET=cambia-esto-en-produccion

# Frontend (apps/web)
NEXT_PUBLIC_API_URL=http://localhost:4000

# Redis (Opcional para colas)
REDIS_HOST=localhost
REDIS_PORT=6379
